.mainColor {
  background-color: #1565c0;
  color: white;
}

.mainColorTextDark {
  color: #003c8f;

}

.bottomButton {
  margin-top: 50px;
}

.mainColorButton {
 color: white;  
 background-color: #1565c0; 

}

.mainColorText {
color: #1565c0;

}

.mainColorDark {
  background-color: #003c8f;
  color: white;
}

.secondaryColor {
  background-color: #fbc02d;
  color: black;
}

.mainImage {
  transform: rotate(180deg);
}

.aboutImage {
  max-width: 70em;
  
}

.twitterLogo {
  transform: translateY(-10px) translateX(-10px);
  width:55px;


}
